In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [21]:
df = pd.read_csv(r"C:\Users\jeffmoe\OneDrive - Concordia University, St. Paul\CST_605\Week1\heart_disease_uci.csv")
df.head()

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        920 non-null    int64
 1   age       920 non-null    int64
 2   sex       920 non-null    object
 3   dataset   920 non-null    object
 4   cp        920 non-null    object
 5   trestbps  861 non-null    float64
 6   chol      890 non-null    float64
 7   fbs       830 non-null    object
 8   restecg   918 non-null    object
 9   thalch    865 non-null    float64
 10  exang     865 non-null    object
 11  oldpeak   858 non-null    float64
 12  slope     611 non-null    object
 13  ca        309 non-null    float64
 14  thal      434 non-null    object
 15  num       920 non-null    int64
dtypes: float64(5), int64(3), object(8)
memory usage: 115.1+ KB

In [23]:
df.shape

(920, 16)

In [24]:
df.describe()

,id,age,trestbps,chol,thalch,oldpeak,ca,num
count,920.000000,920.000000,861.000000,890.000000,865.000000,858.000000,309.000000,920.000000
mean,460.500000,53.510870,132.132404,199.130337,137.545665,0.878788,0.676375,0.995652
std,265.725422,9.424685,19.066070,110.780810,25.926276,1.091226,0.935653,1.142693
min,1.000000,28.000000,0.000000,0.000000,60.000000,-2.600000,0.000000,0.000000
25%,230.750000,47.000000,120.000000,175.000000,120.000000,0.000000,0.000000,0.000000
50%,460.500000,54.000000,130.000000,223.000000,140.000000,0.500000,0.000000,1.000000
75%,690.250000,60.000000,140.000000,268.000000,157.000000,1.500000,1.000000,2.000000
max,920.000000,77.000000,200.000000,603.000000,202.000000,6.200000,3.000000,4.000000

In [25]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
915    False
916    False
917    False
918    False
919    False
Length: 920, dtype: bool

In [26]:
cat_col = [col for col in df.columns if df[col].dtype == 'object']
num_col = [col for col in df.columns if df[col].dtype != 'object']
print('Categorical columns:', cat_col)
print('Numerical columns:', num_col)

Categorical columns: ['sex', 'dataset', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'thal']
Numerical columns: ['id', 'age', 'trestbps', 'chol', 'thalch', 'oldpeak', 'ca', 'num']

In [27]:
df[cat_col].nunique()

sex        2
dataset    4
cp         4
fbs        2
restecg    3
exang      2
slope      3
thal       3
dtype: int64

In [28]:
df.isnull()

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False
916,False,False,False,False,False,True,False,False,False,True,True,True,True,True,True,False
917,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
918,False,False,False,False,False,True,False,False,False,True,True,True,True,True,True,False
919,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False

In [29]:
round((df.isnull().sum() / df.shape[0]) * 100, 2)

id           0.00
age          0.00
sex          0.00
dataset      0.00
cp           0.00
trestbps     6.41
chol         3.26
fbs          9.78
restecg      0.22
thalch       5.98
exang        5.98
oldpeak      6.74
slope       33.59
ca          66.41
thal        52.83
num          0.00
dtype: float64

In [40]:
df_clean = df.drop(columns=['ca','thal'])

In [41]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        920 non-null    int64
 1   age       920 non-null    int64
 2   sex       920 non-null    object
 3   dataset   920 non-null    object
 4   cp        920 non-null    object
 5   trestbps  861 non-null    float64
 6   chol      890 non-null    float64
 7   fbs       830 non-null    object
 8   restecg   918 non-null    object
 9   thalch    865 non-null    float64
 10  exang     865 non-null    object
 11  oldpeak   858 non-null    float64
 12  slope     611 non-null    object
 13  num       920 non-null    int64
dtypes: float64(4), int64(3), object(7)
memory usage: 100.8+ KB

In [42]:
df_clean.dropna(subset = ['slope'], inplace=True)

In [43]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 611 entries, 0 to 912
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        611 non-null    int64
 1   age       611 non-null    int64
 2   sex       611 non-null    object
 3   dataset   611 non-null    object
 4   cp        611 non-null    object
 5   trestbps  608 non-null    float64
 6   chol      603 non-null    float64
 7   fbs       542 non-null    object
 8   restecg   610 non-null    object
 9   thalch    610 non-null    float64
 10  exang     610 non-null    object
 11  oldpeak   611 non-null    float64
 12  slope     611 non-null    object
 13  num       611 non-null    int64
dtypes: float64(4), int64(3), object(7)
memory usage: 71.6+ KB

In [44]:
df_clean.dropna(subset=['fbs'], inplace=True)

In [45]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 542 entries, 0 to 912
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        542 non-null    int64
 1   age       542 non-null    int64
 2   sex       542 non-null    object
 3   dataset   542 non-null    object
 4   cp        542 non-null    object
 5   trestbps  539 non-null    float64
 6   chol      534 non-null    float64
 7   fbs       542 non-null    object
 8   restecg   542 non-null    object
 9   thalch    541 non-null    float64
 10  exang     541 non-null    object
 11  oldpeak   542 non-null    float64
 12  slope     542 non-null    object
 13  num       542 non-null    int64
dtypes: float64(4), int64(3), object(7)
memory usage: 63.5+ KB

In [46]:
df_clean.describe()

,id,age,trestbps,chol,thalch,oldpeak,num
count,542.000000,542.000000,539.000000,534.000000,541.000000,542.000000,542.000000
mean,374.428044,54.824723,133.352505,216.213483,138.253235,1.228782,1.136531
std,276.681653,8.874807,18.981160,99.700882,25.824777,1.100572,1.186723
min,1.000000,29.000000,0.000000,0.000000,60.000000,-1.000000,0.000000
25%,136.250000,49.000000,120.000000,197.000000,120.000000,0.100000,0.000000
50%,271.500000,56.000000,130.000000,233.000000,140.000000,1.000000,1.000000
75%,609.500000,61.000000,142.000000,273.000000,158.000000,2.000000,2.000000
max,913.000000,77.000000,200.000000,603.000000,202.000000,6.200000,4.000000

In [47]:
cat_col = [col for col in df_clean.columns if df_clean[col].dtype == 'object']
num_col = [col for col in df_clean.columns if df_clean[col].dtype != 'object']
print('Categorical columns:', cat_col)
print('Numerical columns:', num_col)

Categorical columns: ['sex', 'dataset', 'cp', 'fbs', 'restecg', 'exang', 'slope']
Numerical columns: ['id', 'age', 'trestbps', 'chol', 'thalch', 'oldpeak', 'num']